{% extends "base.html" %}


{% load blog_extras cache %}
{% block content %}

<h2>{{ post.title }}</h2>
{% row %}
    {% col %}
        <small>By {{ post.author }} on {{ post.posted_at|date:"M, d Y" }}</small>
    {% endcol %}
{% endrow %}
{% row %}
    {% col %}
        {{ post.content|safe }}
    {% endcol %}
{% endrow %}

<p></p>
{% include 'blog/post-comments.html' %}

<div class="row">
    <div class="col">
        {% cache 3600 recent_post post %}
            {% recent_post post %}
        {% endcache %}
    </div>
</div>
{% endblock %}
